@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="about-company">
        <div class="container">
            <!-- Vänster sida -->
            <div class="left-side">
                @{
                    var mediaPickerValue = Model.Value<IPublishedContent>("aboutImage");
                    string imageUrl = null;
    
                    if (mediaPickerValue != null && mediaPickerValue.ContentType.Alias.Equals("Image"))
                    {
                        imageUrl = mediaPickerValue.Url();
                    }
                }
                    <img src="@imageUrl" alt="Samantha-Brown">

                <div class="blue-box">
                    <h2>Samantha Brown, <span class="title">Founder</span></h2>
                    <p>Lorem ipsum lorem ipsum</p>
                </div>
            </div>

            <!-- Höger sida -->
            <div class="right-side">
                <h6>@Model.Value("aboutTitleSection")</h6>
                <h1>We Are Business <br> Consulting & Credit <br> Repair Experts</h1>
                <div class="subtext">
                    <p>@Model.Value("aboutDescriptionSection") <p>
                </div>
                <button>@Model.Value("aboutButtonSectionURL") <i class="fa-solid fa-arrow-trend-up"></i></button>
                <a href="path_to_your_video.mp4" class="introvideo"><i class="fa-regular fa-circle-play"></i>Intro Video</a>
            </div>
        </div>
    </section>