@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="about-company">
        <div class="container">
            <!-- Vänster sida -->
            <div class="left-side">
                <img src="images/ad_assets/daria-pimkina-tYaccl19A3Q-unsplash.jpg" alt="Samantha-Brown">
                <div class="blue-box">
                    <h2>Samantha Brown, <span class="title">Founder</span></h2>
                    <p>Lorem ipsum lorem ipsum</p>
                </div>
            </div>

            <!-- Höger sida -->
            <div class="right-side">
                <h6>About Company</h6>
                <h1>We Are Business <br> Consulting & Credit <br> Repair Experts</h1>
                <div class="subtext">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, tempora, adipisicing elit. Numquam, tempora <p>
                </div>
                <button>Learn More <i class="fa-solid fa-arrow-trend-up"></i></button>
                <a href="path_to_your_video.mp4" class="introvideo"><i class="fa-regular fa-circle-play"></i>Intro Video</a>
            </div>
        </div>
    </section>