@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{

    <section class="showcase-contact">
        <div class="container">
            <div class="links-contact">
                  @foreach (var item in selection.OrderBy(x => x.Level))
                   {
           
                     <a href="@item.Url(PublishedUrlProvider)" class="me-3">@item.Name</a>
                     
                   }
                <span>@Model.Name</span>
            </div>
            <h1>@Model.Value("pageTitle")</h1>
            <div class="showcase-image-wayvy-lines">
                <img src="~/images/details/background-lines.svg" alt="background-lines">
            </div>
        </div>
    </section>
    
}

 