@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- header start -->
    <header>
        <section class="navbar-topmenu">
            <div class="container">          
                <div class="section-one">
                    <div class="company-fact">
                        <span class="fact-content"><i class="fa-regular fa-phone-volume"></i>+46 (8) 125 480 60</span>
                        <span class="fact-content"><i class="fa-regular fa-envelope"></i>info@crito.com</span>
                        <span class="fact-content"><i class="fa-sharp fa-regular fa-location-dot"></i>Stockholmsvägen 50, 123 45 Malmö</span>
                    </div>
                    <div class="media">
                        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <a href="home.html"><img class="logo" src="~/images/logos/logotype.svg"></a>
                <div class="section-two">
                    <div class="links-topmenu">
                        <a class="toplinkhome" href="home.html">Home</a>
                        <a class="toplinkservice" href="service.html">Service</a>
                        <a class="toplinknews" href="news.html">News</a>
                        <a class="toplinkcontact" href="contact.html">Contact</a>
                    </div>
                    <a class="button-login" href="login.html">Login <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
            </div>
        </section>
    </header>
<!-- header end -->