@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Article and News -->
<div class="wrapper-article">
    <div class="container-article">
        <!-- Header Section -->
        <div class="header-article">
            <div class="left">
                <h6>Article & News</h6>
                <h1>Get Every Single Article And News</h1>
            </div>
            <div class="right">
                <button class="button-article">
                    Browse Articles <i class="fa-solid fa-arrow-trend-up"></i>
                </button>
            </div>
        </div>
        
        <!-- Carousel Section -->
        <div class="carousel-article">
            <div class="carousel-wrapper">
                <div class="card-article">
                    <img src="images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="Image Description">
                    <p>Business</p>
                    <h6>How To Use Digitalization In The Classroom</h6>
                    <p>Lorem Ipsum, Lorem Ipsum.</p>
                </div>
                <div class="card-article">
                    <img src="images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="Image Description">
                    <p>Business</p>
                    <h6>How To Use Digitalization In The Classroom</h6>
                    <p>Lorem Ipsum, Lorem Ipsum.</p>
                </div>
                <div class="card-article">
                    <img src="images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="Image Description">
                    <p>Business</p>
                    <h6>How To Use Digitalization In The Classroom</h6>
                    <p>Lorem Ipsum, Lorem Ipsum.</p>
                </div>
            </div>
            <!-- Indicators -->
            <div class="carousel-article-news">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>