@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent

<div class="wrapper-article">
    <div class="container-article">
        <!-- Header Section -->
        <div class="header-article">
            <div class="left">
                <h6>Article & News</h6>
                <h1>Get Every Single Article And News</h1>
            </div>
            <div class="right">
                <button class="button-article">
                    Browse Articles <i class="fa-solid fa-arrow-trend-up"></i>
                </button>
            </div>
        </div>

        <!-- Carousel Section -->
        <div class="carousel-article">
            <div class="carousel-wrapper">
                @{
                    var articles = Model.Value<IEnumerable<IPublishedContent>>("articles");
                }

                @if (articles != null && articles.Any())
                {
                    foreach (var article in articles.Take(3))
                    {
                        var imageUrl = article.Value<string>("newsImage");
                        var category = article.Value<string>("newsCategory");
                        var title = article.Name;
                        var description = article.Value<string>("newsContent");

                        <div class="card-article">
                            <img src="@imageUrl" alt="Image Description">
                            <p>@category</p>
                            <h6>@title</h6>
                            <p>@description</p>
                        </div>
                    }
                }
                else
                {
                    <p>No articles available.</p>
                }
            </div>
            <!-- Indicators -->
            <div class="carousel-article-news">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

