@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Project and Case Studies Section -->
    <div class="project-section">
        
        <div class="container">
            <!-- Titles -->
            <h6>Project and Case Studies</h6>
            <h1>Lets Look At Our Global Projects</h1>
            
            <!-- Cards -->
            <div class="cards-container">
                <div class="card">
                    <img src="images/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="Project Image 1">
                    <p>Grow your own business</p>
                    <hr>
                    <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
                <div class="card">
                    <img src="images/marek-levak-zANXcXyByos-unsplash.jpg" alt="Project Image 2">
                    <p>Grow your own business</p>
                    <hr>
                    <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
                <div class="card">
                    <img src="images/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="Project Image 3">
                    <p>Grow your own business</p>
                    <hr>
                    <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
                <div class="card">
                    <img src="images/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="Project Image 4">
                    <p>Grow your own business</p>
                    <hr>
                    <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
            </div>
            
            <!-- Button -->
            <a href="din_länk_här" class="projects-btn" role="button">
                All Recent Projects <i class="fa-solid fa-arrow-trend-up"></i>
            </a>            
        </div>
    </div>