@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <!-- Meet our team -->
    <section class="team-section">

        <!-- Headers and button -->
        <div class="header-container">
            <h6>Meet Our Team</h6>
            <h1>Team Members Experience </h1>
            <button class="browse-team-btn">
                Browse Team <i class="fa-solid fa-arrow-trend-up"></i>
            </button>
        </div>
    
        <!-- Carousel for team -->
        <div class="carousel">
            <div class="carousel-slides">
                <!-- Slide 1 -->
                <div>
                    <img src="images/ad_assets/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="Slide 1">
                    <div>
                        <strong>Client Name 1</strong>
                        <p class="client-description">Client Description 1</p>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div>
                    <img src="images/ad_assets/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="Slide 2">
                    <div>
                        <strong>Client Name 2</strong>
                        <p class="client-description">Client Description 2</p>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div>
                    <img src="images/ad_assets/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="Slide 3">
                    <div>
                        <strong>Client Name 3</strong>
                        <p class="client-description">Client Description 3</p>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div>
                    <img src="images/ad_assets/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="Slide 4">
                    <div>
                        <strong>Client Name 4</strong>
                        <p class="client-description">Client Description 4</p>
                    </div>
                </div>
                <!-- Carousel Indicators -->
                <div class="carousel-indicators">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <!-- Testimonial container -->
        <div class="testimonial-container">
            <h6>Testimonial</h6>
            <h1>What Our Client Says</h1>

            <div class="testimonial-cards-container">
                <!-- Testimonial Card 1 -->
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="testimonial-text">Text Lorem Ipsum Lorem ipsum lorem ipsum <br> Text Lorem Ipsum Lorem ipsum lorem ipsum</p>
                    <div class="client-info">
                        <img src="images/ad_assets/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="Client 1">
                        <div>
                            <strong>Client Name 1</strong>
                            <p class="client-description">Client Description 1</p>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Card 2 -->
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="testimonial-text">Text Lorem Ipsum Lorem ipsum lorem ipsum <br> Text Lorem Ipsum Lorem ipsum lorem ipsum</p>
                    <div class="client-info">
                        <img src="images/ad_assets/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="Client 2">
                        <div>
                            <strong>Client Name 2</strong>
                            <p class="client-description">Client Description 2</p>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Card 3 -->
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="testimonial-text">Text Lorem Ipsum Lorem ipsum lorem ipsum <br> Text Lorem Ipsum Lorem ipsum lorem ipsum</p>
                    <div class="client-info">
                        <img src="images/ad_assets/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="Client 3">
                        <div>
                            <strong>Client Name 3</strong>
                            <p class="client-description">Client Description 3</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="reviews-btn">
                All Reviews <i class="fa-solid fa-arrow-trend-up"></i>
            </button>
        </div>
    </section>
