@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <div class="custom-section">
        <div class="container">
            <!-- Vänster sida -->
            <div class="left-column">
                <h6>Why Choose Us</h6>
                <h1 class="main-title">Why We Are The<br> Best Business Consultant Agency</h1>
                
                <!-- Cards -->
                <div class="cards">
                    <div class="card">
                        <div class="text-container">
                            <h4><i class="fa-regular fa-thumbs-up"></i>Process Exellence</h4>
                            <p class="under-text">Text till rubriken.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="text-container">
                            <h4><i class="fa-regular fa-chess-queen"></i>Strategic Planning</h4>
                            <p class="under-text">Text till rubriken.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="text-container">
                            <h4><i class="fa-regular fa-gem"></i>Experience Design</h4>
                            <p class="under-text">Text till rubriken.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="text-container">
                            <h4><i class="fa-solid fa-person-dots-from-line"></i>Artificial Inteligens</h4>
                            <p class="under-text">Text till rubriken.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Höger sida -->
            <div class="right-column">
                <div class="beige-box"></div>
                <img src="images/ad_assets/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="" class="overlapping-image">
            </div>
        </div>
    </div>