
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
}


    
    <div class="custom-card">
        <div class="card-body">
            <i class=@content.Value("serviceFeatureIcon")></i>
            <h5 class="card-title">@content.Value("serviceFeatureTitle")</h5>
            <p class="card-text">@content.Value("serviceFeatureDescription")</p>
        </div>
    </div>
    

                
                
                
    


